/* Constants & Variables */
:root {
	--COLOR_TUNDORA: #464040;
	--COLOR_ZAMBEZI: #605757;
	--COLOR_HURRICANE: #807676;
	--COLOR_DUSTSTORM: #e4c7c7;
	--COLOR_MINESHAFT: #2b2727;
	--COLOR_DUSTYGRAY: #9b8d8d;
	--COLOR_DUSTYGRAY2: #a69898;
	--COLOR_BONJOUR: #e6e2e2;
	--COLOR_CREANCAN: #f6be5d;
	--COLOR_TOMTHUMB: #365732;
	--COLOR_MASALA: #3F3939;
	--COLOR_SILVER: #c6c6c6;
	--COLOR_AXOLOT: #546A4E;
	--COLOR_EMPEROR: #504D4D;
	--COLOR_ANAKIWA: #acd2ff;
	--COLOR_HEAVYMETAL: #242d21;
	--COLOR_GRAY: #8a8787;
	--COLOR_TOSCA: #894242;
	--COLOR_SEETHROUGH: rgba(0, 0, 0, 0.50);
	--COLOR_SEETHROUGH2: rgba(0, 0, 0, 0.25);
	--COLOR_BLUESKY: #1c2336;
	--COLOR_LIGHTBROWN: #8a5743;
	--COLOR_GUNPOWDER: #3b3b59;
	--COLOR_BUNCCANEER: #713333;
}

* {
	outline: none;
}

body {
	background-color: #464040;
	color: white;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

a {
	color: #acd2ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.message.success {
	background-color: #365732;
}

.message.error {
	background-color: #894242;
}

.button {
	padding-top: var(--SIZE_SMALL);
	padding-bottom: var(--SIZE_SMALL);
	padding-left: var(--SIZE_MEDIUM);
	padding-right: var(--SIZE_MEDIUM);
	background-color: #9b8d8d;
	border: 1px solid #a69898;
	color: #e6e2e2;
}

.button:hover {
	background-color: #a69898;
}

.wrap {
	padding-left: var(--SIZE_MEDIUM);
	padding-right: var(--SIZE_MEDIUM);
	word-break: break-all;
}

#header {
	background-image: url("/resource/image/Dj.Max.full.891023.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-bottom: 1px solid #807676;
}

#logo {
	color: #ffffff5c;
	text-shadow: -10px 13px #00000059;
}

#header > section {
	padding-top: var(--SIZE_XL);
	padding-bottom: var(--SIZE_XL);
}

#header > section > div {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-top: var(--SIZE_XL);
}

#header form {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
}

#header form input {
	background-color: #efefef2b;
	border: 1px solid #876f6f5c;
	color: white;
	padding: var(--SIZE_XS);
}

#header form select {
	padding-top: var(--SIZE_XS);
	padding-bottom: var(--SIZE_XS);
	padding-left: var(--SIZE_XS);
	padding-right: var(--SIZE_XS);
	text-align: center;
	border-top: 1px solid white;
	border: 1px solid #8080805c;
	border-left: 0;
	border-right: 1px solid black;
	background-color: #2a2626;
	color: white;
}

#header form button {
	padding-top: var(--SIZE_XS);
	padding-bottom: var(--SIZE_XS);
	padding-left: var(--SIZE_MEDIUM);
	padding-right: var(--SIZE_MEDIUM);
	background-color: #8a5743;
	border: 1px solid  gray;
	color: #e6e2e2;
}

#first-menu {
	display: grid ;
	grid-auto-flow: column;
	grid-gap: var(--SIZE_MEDIUM);
	justify-content: flex-end;
}

#second-menu a,
#first-menu a {
	text-decoration: none;
	padding: var(--SIZE_XS) var(--SIZE_MEDIUM);
	background-color: #2a2626;
	color: #bebebe;
	border-bottom: 1px solid #3F3939;
}

#second-menu a:hover,
#first-menu a:hover {
	background-color: #3F3939;
}

#second-menu {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: var(--SIZE_MEDIUM);
	grid-auto-columns: max-content;
	align-items: center;
}

#second-menu a {
	padding: var(--SIZE_XS) var(--SIZE_LARGE);
	border-radius: var(--SIZE_XXS);
}

main {
	margin-top: var(--SIZE_XL);
}

main a:hover {
	text-decoration: underline;
}

#footer {
	margin-top: var(--SIZE_XL);
	padding-top: var(--SIZE_XL);
	padding-bottom: var(--SIZE_XL);
	border-top: 1px solid #807676;
	background-image: url("/resource/image/Dj.Max.full.891023.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: 95px;
}

#footer .wrap {
	background-color: rgba(0, 0, 0, 0.50);
	padding: var(--SIZE_MEDIUM)
}

#footer .wrap > div {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: var(--SIZE_MEDIUM);
	justify-items: center;
	align-items: baseline;
}

#footer section {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#footer section nav {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#footer section a {
	color: white;
}

#footer .copyright {
	position: absolute;
	left: var(--SIZE_MEDIUM);
}

#search-results .filters {
	margin-top: var(--SIZE_XL);
	padding-bottom: var(--SIZE_MEDIUM);
	border-bottom: 1px solid #a69898;
}

#search-results .filter {
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
	background-color: #605757;
	border: 1px solid #a69898;
	color: #e6e2e2;
}

#search-results .results {
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin-top: var(--SIZE_MEDIUM);
	grid-gap: var(--SIZE_MEDIUM);
}

#search-results .results .result {
	display: grid;
	align-content: baseline;
	justify-items: center;
	grid-gap: var(--SIZE_MEDIUM);
}

#search-results .results .result img {
	border: 1px solid gray;
}

#search-results > p {
	margin-top: var(--SIZE_XL);
}

.pagination {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	align-content: center;
	align-items: center;
	margin-top: var(--SIZE_XL);
	justify-content: center;
}

.pagination a {
	padding-top: var(--SIZE_SMALL);
	padding-bottom: var(--SIZE_SMALL);
	padding-left: var(--SIZE_MEDIUM);
	padding-right: var(--SIZE_MEDIUM);
	background-color: #605757;
	border: 1px solid #a69898;
	color: #e6e2e2;
}

.pagination a.active {
	background-color: #2b2727;
}
